<div class="main-div">
  <mat-card>
    <mat-card-title>Settings</mat-card-title>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <h3>Theme:</h3>
      <mat-button-toggle-group aria-label="Font Style" name="fontStyle" value="{{getCurrentTheme().className}}">
        <mat-button-toggle (click)="selectTheme(theme)" *ngFor="let theme of availableThemes"
                           value='{{theme.className}}'> {{theme.displayName}} </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <h3>Default player volume:</h3>
      <mat-slider (input)="setVolume($event)" [displayWith]="volumeLabel" id="volume-slider" max="0.4" min="0"
                  step="0.004" thumbLabel value="{{getDefaultVolume()}}"></mat-slider>
    </mat-card-content>
  </mat-card>
</div>
