:host {

  .progress-wrapper {
    position: relative;


    .time-display {
      width: 8em;
      display: inline-block;
    }

    .progress-bar {
      position: absolute;
      top: 0.5em;
      left: 8em;
      width: calc(100% - 8em);
      z-index: 0;
    }

    .overlay-slider {
      position: absolute;
      top: -0.9em;
      left: 7.2em;
      width: calc(100% - 7.5em);

      #slider {
        z-index: 1;
      }

      ::ng-deep .mdc-slider__track--active_fill,
      ::ng-deep .mdc-slider__track--inactive  {
        background: transparent;
        border: 0 !important; /* Removes border from active track */
      }
      ::ng-deep .mdc-slider__thumb {
        --mat-slider-hover-state-layer-color: transparent;
        --mat-slider-focus-state-layer-color: transparent;
      }
    }


  }
}
