// Colors
$parrot-primary: mat-palette((
  50 : #eafafb,
  100 : #caf2f5,
  200 : #a6e9ee,
  300 : #82e0e7,
  400 : #68dae1,
  500 : #4dd3dc,
  600 : #46ced8,
  700 : #3dc8d3,
  800 : #34c2ce,
  900 : #25b7c5,
  A100 : #ffffff,
  A200 : #cefbff,
  A400 : #9bf6ff,
  A700 : #81f4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));

$parrot-accent: mat-palette((
  50 : #fff4e4,
  100 : #fee3bb,
  200 : #fed08e,
  300 : #fdbd60,
  400 : #fcaf3e,
  500 : #fca11c,
  600 : #fc9919,
  700 : #fb8f14,
  800 : #fb8511,
  900 : #fa7409,
  A100 : #ffffff,
  A200 : #fff6f0,
  A400 : #ffd7bd,
  A700 : #ffc8a3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));

$parrot-toolbar-primary: mat-palette((
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
));
