// Colors
$shark-primary: mat-palette((
  50 : #fff8fa,
  100 : #ffeef2,
  200 : #ffe3ea,
  300 : #ffd7e2,
  400 : #ffcfdb,
  500 : #ffc6d5,
  600 : #ffc0d0,
  700 : #ffb9ca,
  800 : #ffb1c4,
  900 : #ffa4ba,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));
//#97defc
$shark-accent: mat-palette((
  50 : #eaf8fe,
  100 : #caeefe,
  200 : #a6e3fd,
  300 : #82d7fc,
  400 : #68cffb,
  500 : #4dc6fa,
  600 : #46c0f9,
  700 : #3db9f9,
  800 : #34b1f8,
  900 : #25a4f6,
  A100 : #ffffff,
  A200 : #fdfeff,
  A400 : #cae9ff,
  A700 : #b1dfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));

$shark-toolbar-primary: mat-palette((
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
));
