<h1>Options</h1>
<h3>Theme:</h3>
<mat-button-toggle-group aria-label="Font Style" name="fontStyle" value="{{currentTheme.className}}">
  <mat-button-toggle (click)="selectTheme(theme)" *ngFor="let theme of availableThemes"
                     value='{{theme.className}}'>
    {{theme.displayName}}
  </mat-button-toggle>
</mat-button-toggle-group>
<br>
<br>
<h3>Default player volume:</h3>
<mat-slider thumbLabel [displayWith]="volumeLabel" (input)="setVolume($event)" id="volume-slider" max="0.4" min="0" step="0.004"
            value="0.1"></mat-slider>
