<h1>Options</h1>
<p>So you got to the options menu, but nothing is here yet!<br>
    <br>
What do you mean, thats lazy? Well ok take this button, it does nothing:</p>
<button mat-raised-button color="accent">Dont press me!</button>
<br>
<br>
<p>Stil tried it hm? <br>
    
     Well to honor that effort, here is a useless textbox</p>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>I am useless</mat-label>
      <input matInput value="and without function">
    </mat-form-field>
    </form>
    <p>Besides, if you haven´t noticed yet, I am pretty slim.
        Thats because my max-width is hacked with a dirty !important-Tag in the theme.scss,
        because my creator couldn´t work out how to do it with panel-classes</p>