<app-object-multi-select *ngIf="multiMode" [(selectedOptions)]="selectedOptions"
                         [selectObjectData]="selectObjectData" (selectedOptionsChange)="onChange()"></app-object-multi-select>
<app-object-select *ngIf="!multiMode" [(selectedOptions)]="selectedOptions"
                   [selectObjectData]="selectObjectData" (selectedOptionsChange)="onChange()"></app-object-select>
<app-add-object-button (objectAdded)="objectAdded()" [objectInputData]="addObjectInputData"></app-add-object-button>
