<mat-card id="login-card">
  <mat-card-title>Upload Songs</mat-card-title>
  <mat-card-content>
    <form [formGroup]="uploadForm">
      <p>
        <button (click)="fileInput.click()" mat-raised-button type="button">Choose File</button>
        <input #fileInput (change)="onFilesSelected()" hidden id="file" multiple type="file">
        [{{files ? files.length : "no"}} song{{files && files.length == 1 ? "" : "s"}} selected.]
      </p>
      <p class="form_line">
        <app-object-select [selectObjectData]="artistSelectData" [(selectedOptions)]="selectedArtist"></app-object-select>
        <button (click)="addArtist()" mat-raised-button type="button" class="add_btn">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <mat-divider></mat-divider><br/>
      <p class="form_line">
        <app-object-select [selectObjectData]="albumSelectData" [(selectedOptions)]="selectedAlbum"></app-object-select>
        <button (click)="addAlbum()" mat-raised-button type="button" class="add_btn">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <mat-divider></mat-divider><br/>
      <p class="form_line">
        <app-object-multi-select [selectObjectData]="genreSelectData" [(selectedOptions)]="selectedGenres"></app-object-multi-select>
        <button (click)="addGenre()" mat-raised-button type="button" class="add_btn">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <mat-divider></mat-divider><br/>
      <p class="form_line">
        <app-object-multi-select [selectObjectData]="tagSelectData" [(selectedOptions)]="selectedTags"></app-object-multi-select>
        <button (click)="addTag()" mat-raised-button type="button" class="add_btn">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <mat-divider></mat-divider><br/>
      <p class="form_line">
        <app-object-multi-select [selectObjectData]="playlistSelectData" [(selectedOptions)]="selectedPlaylists"></app-object-multi-select>
        <button (click)="addPlaylist()" mat-raised-button type="button" class="add_btn">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <div class="button">
        <app-loader [loadingState]="loading"></app-loader>
        <button (click)="upload()" [disabled]="loading" color="accent" mat-raised-button type="button">Upload</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
