<div *ngIf="selectObjectData">
  <mat-form-field>
    <mat-label>{{selectObjectData.displayName}}:</mat-label>
    <input [formControl]="objectControl" [matAutocomplete]="objectAC" [value]="inputText" matInput type="text">
    <mat-autocomplete #objectAC="matAutocomplete" [displayWith]="display">
      <mat-option *ngFor="let option of filteredOptions | async " [value]="option.id">
        <div (click)="optionClicked($event, option)">
          <mat-checkbox (change)="toggleSelection(option)" (click)="$event.stopPropagation()"
                        [checked]="option.selected">
            {{option.id}} - {{option.name}}
          </mat-checkbox>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <mat-label>Selected {{selectObjectData.displayName}}s:</mat-label>
  <br>
  <mat-chip-list>
    <mat-chip *ngIf="selectedOptions?.length === 0">(None)</mat-chip>
    <mat-chip *ngFor="let option of selectedOptions">
      {{option.id}} - {{option.name}}
    </mat-chip>
  </mat-chip-list>
</div>
