<div class="card mt-4">
  <audio controls preload="auto" #audioPlayer>
  </audio>
  <div>
    <input type="button" value="Create session" (click)="createSession()">
    <input type="button" value="Browse sessions" (click)="browseSessions()">
    <input type="button" value="Start sessions" (click)="startSession()">
    <input type="button" value="Load Song" (click)="loadSong()">
    <input type="text" [(ngModel)]="songId" name="songId">
    <input type="button" value="Browse Songs" (click)="browseSongs()">
  </div>
  <div>
    <h4>Sessions</h4>
    <ul>
      <li *ngFor="let session of sessions">
        <input type="button" value="{{session.name}}" (click)="joinSession(session.id)">
      </li>
    </ul>
  </div>
</div>
