:host {
  display: flex;
  justify-content: center;
}

#home-card-headline {
  border-radius: 3px;
  background: rgba(24, 24, 24, 0.65);
  color: white;
  padding: 16px;
  font-size: 16px;
  max-width: 400px;
}
