:host {
  display: flex;
  justify-content: center;
}

mat-card {
  margin: 10px;
  max-width: 300px;
}

#database-card > mat-card-content > ul > li:first-child {
  list-style-type: none;
  margin-left: -20px;
  font-weight: bold;
}
