<div class="card mt-4">
  <audio controls preload="auto" #audioPlayer>
  </audio>
  <div>
    <input type="button" value="Create session" (click)="createSession()">
    <input type="button" value="Browse sessions" (click)="browseSessions()">
    <br/>
    <input type="button" value="Start Song" (click)="startSong()">
    <input type="button" value="Pause Song" (click)="pauseSong()">
    <input type="button" value="Resume Song" (click)="resumeSong()">
    <input type="button" value="Stop Song" (click)="stopSong()">
    <input type="button" value="skip Song" (click)="skipSong()">
  </div>
  <div>
    <h4>Sessions</h4>
    <ul>
      <li *ngFor="let session of sessions">
        <input type="button" value="{{session.name}}" (click)="joinSession(session.id)">
      </li>
    </ul>
  </div>
</div>
