:host {
  display: flex;
  justify-content: center;

  .mat-drawer-container,
  #drawer-wrapper .mat-card.drawer-card {
    background-color: transparent;
    box-shadow: none;
  }
}

mat-progress-bar {
  margin: 20px 5px;
  zoom: 1.2;
  width: auto;
}

mat-chip-list,
mat-chip {
  width: 100%
}

.player-controls {
  margin: 6px;
}

#control-buttons {
  white-space: nowrap;
  display: flex;
}

#latency-component {
  right: 25px;
  position: absolute;
  white-space: nowrap;
}

#rating-latency-wrapper {
  display: flex;
}

#volume-slider {
  width: 100px;
  float: right;

  ::ng-deep .mat-slider-thumb {
    transform: scale(0.7);
  }
}

#toggle-right-btn {
  float: right;
}

.removeSongFromQueue{
 margin-left: auto;
}

.mat-chip{
  display: flex;
}