<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> {{songTitle}}</mat-card-title>
    <mat-card-subtitle> {{songArtist}}
      <app-latency #latencyComponent id="latencyComponent"></app-latency>
    </mat-card-subtitle>
  </mat-card-header>
  <audio #audioPlayer controls preload="auto"></audio>
  <mat-card-content>
  </mat-card-content>
  <div id="controlButtons">
    <button class="playerControls" color="accent" mat-raised-button><span class="material-icons">skip_previous</span>
    </button>
    <button (click)="startSong()" class="playerControls" color="accent" mat-raised-button><span class="material-icons">restart_alt</span>
    </button>
    <button (click)="resumeSong()" class="playerControls" color="accent" mat-raised-button><span class="material-icons">play_arrow</span>
    </button>
    <button (click)="pauseSong()" class="playerControls" color="accent" mat-raised-button><span class="material-icons">pause</span>
    </button>
    <button (click)="stopSong()" class="playerControls" color="accent" mat-raised-button><span class="material-icons">stop</span>
    </button>
    <button (click)="skipSong()" class="playerControls" color="accent" mat-raised-button><span class="material-icons">skip_next</span>
    </button>
  </div>
</mat-card>
