<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{songTitle}}</mat-card-title>
    <mat-card-subtitle>{{songArtist}}
      <app-latency #latencyComponent id="latencyComponent"></app-latency>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar [mode]="playerState == 'WAITING' ? 'buffer' : 'determinate'" [value]="progression"
                      color="accent"></mat-progress-bar>
    <div id="controlButtons">
      <button class="playerControls" color="accent" mat-raised-button>
        <span class="material-icons">skip_previous</span>
      </button>
      <button (click)="publishCommand(playerState == 'STOP' ? 'start' : playerState == 'PAUSE' ? 'resume' : 'pause')"
              class="playerControls" color="accent" mat-raised-button>
        <span class="material-icons">{{playerState == 'PLAY' ? 'pause' : 'play_arrow'}}</span>
      </button>
      <button (click)="publishCommand('stop')" class="playerControls" color="accent" mat-raised-button>
        <span class="material-icons">stop</span>
      </button>
      <button (click)="publishCommand('skip')" class="playerControls" color="accent" mat-raised-button>
        <span class="material-icons">skip_next</span>
      </button>
      <button class="playerControls" color="accent" mat-raised-button>
        <span class="material-icons">{{shuffle ? 'shuffle_on' : 'shuffle'}}</span>
      </button>
      <button class="playerControls" color="accent" mat-raised-button>
        <span class="material-icons">{{repeat ? 'repeat_on' : 'repeat'}}</span>
      </button>
    </div>
  </mat-card-content>
</mat-card>
