:host {
  height: 100%;
  width: 100%;
  position: fixed;
}

.spacer {
  flex: 1;
}

#main-headline {
  position: fixed;
  left: 50%;
  top: 32px;
  transform: translate(-50%, -50%);
  font-size: revert;
}

a, a:visited {
  color: white;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
