:host {
}

#app-theme-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
        "header aside"
        "body aside"
        "footer aside";
}

#header {
  grid-area: header;
  background: rgba(33,33,33,0.8);
  color: white;
  display: flex;
  flex-direction: row;
}

#footer {
  grid-area: footer;
  background: rgba(33,33,33,0.8);
  color: white;
  padding: 8px;

  mat-toolbar {
    min-height: 0;

    mat-toolbar-row {
      height: initial;
    }
  }
}

#content {
  grid-area: body;
  overflow-y: auto;
}

#main-headline {
  position: fixed;
  left: 50%;
  top: 5px;
  transform: translate(-50%, -50%);
  font-size: revert;
}

.spacer {
  flex: 1;
}

#router-content {
  overflow-y: auto;
}

a, a:visited {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.options-dialog {
  max-width: 250px !important;
}

#home-sidenav-container {
  background: transparent;
  height: 100%;
}

::ng-deep.mat-drawer-content {
  overflow: visible !important;
}

#sidenav {
  background: rgba(33,33,33,0.8);
  min-width: 150px;
  box-shadow: 10px 0 0 rgba(33,33,33,0.8);;
}

.navItem-text {
  padding-top: 2px;
  padding-left: 15px;
  font-size: 22px;
}
