<div [ngClass]="getCurrentThemeClassName()" id="app-theme-container">
  <!-- Toolbar -->
  <mat-toolbar color="primary" id="toolbar">
    <mat-toolbar-row>
      <button (click)="sidenav.toggle()" aria-label="Example icon-button with a menu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="/">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <button (click)="openSettingsDialog()" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>

      <div class="spacer"></div>
      <h2 *ngIf="isDesktopLayout" id="main-headline">Music Stream Client</h2>
      <div class="spacer"></div>
      <span>{{sessionInfo}}</span>
      <a (click)="logout()">
        <button mat-icon-button>
          <mat-icon>logout</mat-icon>
        </button>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- sidenav // not sure yet if it should close on click...-->
  <mat-sidenav-container autosize hasBackdrop="false" id="home-sidenav-container">
    <mat-sidenav #sidenav id="sidenav">
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item routerLink="database/browse">
          <mat-icon>search</mat-icon>
          <span class="navItem-text">Browse</span>
        </a>
        <a (click)="sidenav.toggle()" mat-list-item routerLink="upload">
          <mat-icon>file_upload</mat-icon>
          <span class="navItem-text">Upload</span>
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <!-- content -->
    <router-outlet></router-outlet>

  </mat-sidenav-container>
</div>
