:host {
  display: flex;
  justify-content: center;
  margin: 20px;

  .mat-drawer-container,
  #drawer-wrapper .mat-card.drawer-card {
    background-color: transparent;
    box-shadow: none;
    width: 750px;
  }

  .fullscreen-controls {
    position: absolute;
    bottom: 0;
    width: 70%;
    padding: 5px 15% 0  15%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s;

    &:hover {
      opacity: 1;
    }

    .overlay-slider {
      position: absolute;
      top: -10px;
      left: calc(15% - 8px);
      width: calc(70% + 16px);
    }
  }

  .video-player {
    width: 100%;
    height: 100%;
  }

  .spacer {
    display: flex;
    flex-grow: 1;
  }

  mat-chip-set,
  mat-chip-listbox,
  mat-chip,
  mat-chip-option{
    width: 100%
  }


  #fullscreen-control-buttons,
  #control-buttons {
    white-space: nowrap;
    display: flex;
    gap: 6px;
    padding-top: 6px;

    .player-controls {
      min-width: 0;
      padding: 1px 1px 0 13px
    }
    .volume-slider {
      width: 100px;
      float: right;
    }
  }

  #latency-component {
    right: 25px;
    position: absolute;
    white-space: nowrap;
  }

  #rating-latency-wrapper {
    display: flex;
  }

  #toggle-right-btn {
    float: right;
  }
  #toggle-left-btn,
  #toggle-right-btn {
    margin-bottom: -30px;
  }

  .removeSongFromQueueButton {
    position: absolute;
    right: 12px;
    top: 0;
    padding: 1px 1px 0 9px;
    min-width: 0;
  }

  .mat-chip {
    display: flex;
    font-size: 16px;
  }

  .volume-slider {
    margin-top: -6px;

    ::ng-deep .mdc-slider__thumb {
      --mat-slider-hover-state-layer-color: transparent;
      --mat-slider-focus-state-layer-color: transparent;
    }
  }

  mat-card {
  }

  mat-card-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 750px;
  }
}


