<mat-drawer-container autosize id="drawer-wrapper">
  <mat-drawer #drawerLeft mode="side">
      <mat-card-header>
        <mat-card-title>Listeners:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-set>
          <mat-chip *ngFor="let user of sessionUsers">{{ user.username }}</mat-chip>
        </mat-chip-set>
      </mat-card-content>
  </mat-drawer>

  <div>
    <mat-card class="content-card">
      <button (click)="drawerLeft.toggle()" id="toggle-left-btn" mat-icon-button>
        <mat-icon *ngIf="drawerLeft.opened">chevron_right</mat-icon>
        <mat-icon *ngIf="!drawerLeft.opened">chevron_left</mat-icon>
      </button>
      <!--      <button (click)="drawerRight.toggle()" id="toggle-right-btn" mat-icon-button>-->
      <!--        <mat-icon *ngIf="drawerRight.opened">chevron_left</mat-icon>-->
      <!--        <mat-icon *ngIf="!drawerRight.opened">chevron_right</mat-icon>-->
      <!--      </button>-->
      <mat-card-header>
        <mat-card-title>{{ currentMedia.title || 'No current song' }}</mat-card-title>
        <mat-card-subtitle>
          {{ getSubTitle() || 'Unknown Artist' }}<br/>
          <app-rating-star (rating)="onRating($event)" [currentRating]="userSongRating"
                           [songRating]="songRating"></app-rating-star>
          <app-latency #latencyComponent id="latency-component"></app-latency>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div #videoWrapper [hidden]="!isVideoMode()">
          <video #videoPlayer (click)="onVideoClick()" class="video-player"></video>
          <div *ngIf="isFullscreen" class="fullscreen-controls">
            <app-player-track (seek)="jumpOffset($event)" [playerState]="playerState"></app-player-track>
            <div id="fullscreen-control-buttons">
              <button (click)="publishCommand('previous')" class="player-controls" color="accent" mat-raised-button>
                <mat-icon>skip_previous</mat-icon>
              </button>
              <button
                (click)="publishCommand(playerState === 'STOP' ? 'start' : playerState === 'PAUSE' ? 'resume' : 'pause')"
                class="player-controls" color="accent" mat-raised-button>
                <mat-icon>{{ playerState === 'PLAY' ? 'pause' : 'play_arrow' }}</mat-icon>
              </button>
              <button (click)="publishCommand('stop')" class="player-controls" color="accent" mat-raised-button>
                <mat-icon>stop</mat-icon>
              </button>
              <button (click)="publishCommand('skip')" class="player-controls" color="accent" mat-raised-button>
                <mat-icon>skip_next</mat-icon>
              </button>
              <button (click)="timeSkip()" class="player-controls" color="accent" mat-raised-button>
                <mat-icon>update</mat-icon>
              </button>
              <mat-slider color="accent" class="volume-slider" [max]="0.4" [min]="0" [step]="0.004">
                <input matSliderThumb value="{{getVolume()}}" (valueChange)="setVolume($event)" #slider>
              </mat-slider>
              <div class="spacer"></div>
              <button (click)="exitFullscreen()" class="player-controls" color="accent"
                      mat-raised-button>
                <mat-icon>fullscreen_exit</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <app-player-track (seek)="jumpOffset($event)" [playerState]="playerState"></app-player-track>
        <div id="control-buttons">
          <button (click)="publishCommand('previous')" class="player-controls" color="accent" mat-raised-button>
            <mat-icon>skip_previous</mat-icon>
          </button>
          <button
            (click)="publishCommand(playerState === 'STOP' ? 'start' : playerState === 'PAUSE' ? 'resume' : 'pause')"
            class="player-controls" color="accent" mat-raised-button>
            <mat-icon>{{ playerState === 'PLAY' ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
          <button (click)="publishCommand('stop')" class="player-controls" color="accent" mat-raised-button>
            <mat-icon>stop</mat-icon>
          </button>
          <button (click)="publishCommand('skip')" class="player-controls" color="accent" mat-raised-button>
            <mat-icon>skip_next</mat-icon>
          </button>
          <button (click)="timeSkip()" class="player-controls" color="accent" mat-raised-button>
            <mat-icon>update</mat-icon>
          </button>
          <button (click)="publishCommand('shuffle')" class="player-controls" color="accent" mat-raised-button>
            <mat-icon>shuffle</mat-icon>
          </button>
          <button (click)="publishCommand('loop/' + !loopMode)" class="player-controls" color="accent"
                  mat-raised-button>
            <mat-icon>{{ loopMode ? 'repeat_on' : 'repeat' }}</mat-icon>
          </button>
          <mat-slider color="accent" class="volume-slider mat-dense" [max]="0.4" [min]="0" [step]="0.004">
            <input matSliderThumb value="{{getVolume()}}" (valueChange)="setVolume($event)" #slider>
          </mat-slider>
          <div class="spacer"></div>
          <button (click)="fullscreen()" [hidden]="!isVideoMode()" class="player-controls" color="accent"
                  mat-raised-button>
            <mat-icon>fullscreen</mat-icon>
          </button>
        </div>
        <div (cdkDropListDropped)="drop($event)" cdkDropList id="queue-container">
          <div id="queue-list">
          <mat-list role="list">
            <mat-list-item
              *ngFor="let media of history.slice(getDisplayHistoryStartIndex(), history.length); let i = index "
              [attr.data-index]="i" cdkDrag role="listitem">
              <mat-chip color="primary" (click)="jumpTo(media.id)">
                <mat-chip *cdkDragPlaceholder>{{ media.title }}</mat-chip>
                {{ media.title }}
                <button (click)="removeSongFromQueueOrHistory(i,'history')" class="removeSongFromQueueButton"
                        mat-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-chip>
            </mat-list-item>
            <mat-list-item cdkDrag [cdkDragDisabled]="true">
              <mat-chip-listbox>
                <mat-chip-option color="primary" selected> {{ currentMedia.title }}</mat-chip-option>
              </mat-chip-listbox>
            </mat-list-item>

            <mat-list-item *ngFor="let media of queue.slice(0, getDisplayQueueLength()); let i = index"
                           [attr.data-index]="i" cdkDrag role="listitem">
              <mat-chip color="primary" (click)="jumpTo(media.id)">
                <mat-chip *cdkDragPlaceholder>{{ media.title }}</mat-chip>
                {{ media.title }}
                <button (click)="removeSongFromQueueOrHistory(i,'queue')" class="removeSongFromQueueButton"
                        mat-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-chip>
            </mat-list-item>
          </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!--  <mat-drawer #drawerRight mode="side" position="end">-->
  <!--    <mat-card class="drawer-card">-->
  <!--      <mat-card-header>-->
  <!--        <mat-card-title>Details:</mat-card-title>-->
  <!--      </mat-card-header>-->
  <!--      <mat-card-content>-->
  <!--        <app-input-artist [(selectedOptions)]="selectedArtist"></app-input-artist>-->
  <!--        <mat-divider></mat-divider>-->
  <!--        <app-input-album [(selectedOptions)]="selectedAlbum"></app-input-album>-->
  <!--        <mat-divider></mat-divider>-->
  <!--        <app-input-genre [(selectedOptions)]="selectedGenres"></app-input-genre>-->
  <!--        <mat-divider></mat-divider>-->
  <!--        <app-input-tag [(selectedOptions)]="selectedTags"></app-input-tag>-->
  <!--      </mat-card-content>-->
  <!--    </mat-card>-->
  <!--  </mat-drawer>-->
</mat-drawer-container>
