<mat-card id="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <p *ngIf="error" class="error-text">
        {{error}}
      </p>
      <p>
        <mat-form-field>
          <input [errorStateMatcher]="matcher" formControlName="username" id="username" matInput placeholder="Username"
                 type="text"/>

        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input [errorStateMatcher]="matcher" formControlName="password" id="password" matInput placeholder="Password"
                 type="password"/>
        </mat-form-field>
      </p>
      <div class="button">
        <app-loader [loadingState]="loading"></app-loader>
        <button [disabled]="loading" color="accent" mat-raised-button type="submit">Login</button>
      </div>
    </form>
    <div #console></div>
  </mat-card-content>
</mat-card>
