:host{
  background-color: whitesmoke;
  box-shadow: 2px 4px 10px gray;
  padding: 10px;
}

.error-text {
  color: red
}

.error-box{
  border-color: red;
}

table {
  line-height: 50px;
}

td {
  padding: 0 10px;
}
h4 {
  margin-bottom: -10px;
}
