<mat-card id="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p *ngIf="error" class="error-text">
          {{error}}
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Username" id="username" type="text" formControlName="username"
                     [errorStateMatcher]="matcher"/>

        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Password" id="password" type="password" formControlName="password"
                 [errorStateMatcher]="matcher"/>
        </mat-form-field>
      </p>
      <div class="button">
        <app-loader [loadingState]="loading"></app-loader>
        <button mat-raised-button color="accent" type="submit" [disabled]="loading">Login</button>
      </div>
    </form>
    <div #console></div>
  </mat-card-content>
</mat-card>
