:host {
  display: flex;
  justify-content: center;
}

.error-text {
  color: red
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-card-title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
