:host {
  display: flex;
  justify-content: center;
}

.error-text {
  color: red
}

mat-spinner,
#submit-button {
  float: right;
  margin-right: 20px;
}

mat-card-title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
