:host {
  display: flex;
  justify-content: center;
}

#database-browser-card {
  min-width: 400px;
}

#start-search-btn {
  float: right;
  margin-right: 50px;
}

#search-results-table {
  width: 100%;
  background: rgba(255, 255, 255, 0.025);
}

#search-results-table th {
  font-size: 16px;
}

mat-paginator {
  background: rgb(255, 255, 255, 0.025);
}

mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  display: initial;
}

mat-spinner {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.hidden {
  display: none;
}
.mat-card-content {
  max-width: 450px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding: 10px;
}