<mat-card id="database-browser-card">
  <mat-card-header>
    <mat-card-title>Browse Database</mat-card-title>
  </mat-card-header>
  <form [formGroup]="searchQuery" (ngSubmit)="submitSearch()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Search for...</mat-label>
        <mat-select matInput formControlName="searchObject" (selectionChange)="onSelectionChange()"
          [(ngModel)]="modeselect" [placeholder]="modeselect">
          <mat-option value="song">Song</mat-option>
          <mat-option value="artist">Artist</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" *ngIf="(searchQuery.get('searchObject').value == 'song')">
        <mat-label>Keyword...</mat-label>
        <input matInput formControlName="searchKeyword" placeholder="Keyword..." />
      </mat-form-field>
      <div class="chip-wrapper-width-contained">
        <app-object-multi-select *ngIf="!(searchQuery.get('searchObject').value == 'song')"
          [selectObjectData]="dataBaseData" [(selectedOptions)]="selectedOptions" [appearance]="'fill'">
        </app-object-multi-select>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button id="start-search-btn" color="accent" mat-raised-button type="submit">Search</button>
      <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
      <br><br><br>
      <div [ngClass]="dataSource.data.length == 0 ? 'hidden':''">
        <table id="search-results-table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
          </ng-container>
          <ng-container matColumnDef="album">
            <th mat-header-cell *matHeaderCellDef> Album</th>
            <td mat-cell *matCellDef="let element"> {{element.album.name}} </td>
          </ng-container>
          <ng-container matColumnDef="artist">
            <th mat-header-cell *matHeaderCellDef> Artist</th>
            <td mat-cell *matCellDef="let element"> {{element.artist.name}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
      </div>
      <div *ngIf="!!noresult">
        <p>
          {{noresult}}
          No results with your stupid query!
        </p>
      </div>
    </mat-card-footer>
  </form>
</mat-card>