:host {
    display: flex;
    justify-content: center;
  }

#database-browser-card {
    min-width: 400px;
  }
  
  #start-search-btn {
    float: right;
    margin-right: 50px;
  }

  table {
    width: 100%;
    opacity: 0.65;
  }

  mat-form-field{
    margin-left: 10px;
    margin-right: 10px;
  }