/* Global styles will take effect across all components */
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

#app-theme-container {
  background-size: cover;
  height: 100%;
  width: 100%;

  mat-card,
  mat-drawer {
    background: rgba(24, 24, 24, .65);
  }
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(33, 33, 33, 0.8);;

}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}
