/* Global styles will take effect across all components */
body {
  margin: 0;
}

#app-theme-container {
  background-size: cover;
  height: 100%;

  .mat-card {
    background: rgba(24, 24, 24, .65);
  }
}

