/* Theme specific styles will take effect across all components but obly if style clsaa is set on #app-theme-container. */
@import '~@angular/material/theming';
@import 'src/app/themes/parrot.scss';
@import 'src/app/themes/turtle.scss';
@import 'src/app/themes/shark.scss';

//include
@include mat-core();

.parrot-theme {
  &#app-theme-container {
    background-image: url('./assets/parrot.jpg');
  }

  $parrot-warn: mat-palette($mat-red);
  $parrot-theme: mat-dark-theme($parrot-primary, $parrot-accent, $parrot-warn);
  $parrot-toolbar-theme: mat-dark-theme($parrot-toolbar-primary, $parrot-accent, $parrot-warn);

  @include angular-material-theme($parrot-theme);
  @include mat-toolbar-theme($parrot-toolbar-theme);
}

// turtle (greenish) theme
.turtle-theme {
  &#app-theme-container {
    background-image: url('./assets/turtle.jpg');
  }

  $turtle-warn: mat-palette($mat-red);
  $turtle-theme: mat-dark-theme($turtle-primary, $turtle-accent, $turtle-warn);
  $turtle-toolbar-theme: mat-dark-theme($turtle-toolbar-primary, $turtle-accent, $turtle-warn);

  @include angular-material-theme($turtle-theme);
  @include mat-toolbar-theme($turtle-toolbar-theme);
}

// shark (blueish) theme
.shark-theme {
  &#app-theme-container {
    background-image: url('./assets/shark.jpg');
  }

  $shark-warn: mat-palette($mat-red);
  $shark-theme: mat-dark-theme($shark-primary, $shark-accent, $shark-warn);
  $shark-toolbar-theme: mat-dark-theme($shark-toolbar-primary, $shark-accent, $shark-warn);

  @include angular-material-theme($shark-theme);
  @include mat-toolbar-theme($shark-toolbar-theme);
}
