/* Theme specific styles will take effect across all components but only if style class is set on #app-theme-container. */
@use '@angular/material' as mat;
@import 'src/app/themes/parrot.scss';
@import 'src/app/themes/turtle.scss';
@import 'src/app/themes/shark.scss';

//include
@include mat.core();

.parrot-theme {
  &#app-theme-container {
    background: url('./assets/parrot.jpg') no-repeat center fixed;
    background-size: cover;
  }

  $my-theme: mat.define-light-theme((
    color: (
      primary: mat.define-palette($parrot-primary),
      accent: mat.define-palette($parrot-accent)
    ),
    typography: mat.define-typography-config(),
    density: 0,
  ));

  @include mat.all-component-themes($my-theme);
}

// turtle (greenish) theme
.turtle-theme {
  &#app-theme-container {
    background: url('./assets/turtle.jpg') no-repeat center fixed;
    background-size: cover;
  }

  $my-theme: mat.define-light-theme((
    color: (
      primary: mat.define-palette($turtle-primary),
      accent: mat.define-palette($turtle-accent)
    ),
    typography: mat.define-typography-config(),
    density: 0,
  ));

  @include mat.all-component-themes($my-theme);
}

// shark (blueish) theme
.shark-theme {
  &#app-theme-container {
    background-image: url('./assets/shark.jpg');
  }

  $my-theme: mat.define-light-theme((
    color: (
      primary: mat.define-palette($shark-primary),
      accent: mat.define-palette($shark-accent)
    ),
    typography: mat.define-typography-config(),
    density: 0,
  ));

  @include mat.all-component-themes($my-theme);
}
