@import '~@angular/material/theming';

$mat-dark-theme-background: (
  status-bar: black,
  app-bar: map-get($mat-grey, 900),
  background: #303030,
  hover: rgba(white, 0.04),
  card: rgba(24, 24, 24, .65),
  dialog: map-get($mat-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map-get($mat-grey, 900),
  selected-disabled-button: map-get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map-get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map-get($mat-grey, 700),
);

// Colors
$parrot-primary: mat-palette((
  50 : #eafafb,
  100 : #caf2f5,
  200 : #a6e9ee,
  300 : #82e0e7,
  400 : #68dae1,
  500 : #4dd3dc,
  600 : #46ced8,
  700 : #3dc8d3,
  800 : #34c2ce,
  900 : #25b7c5,
  A100 : #ffffff,
  A200 : #cefbff,
  A400 : #9bf6ff,
  A700 : #81f4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));

$parrot-toolbar-primary: mat-palette((
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
));

$parrot-accent: mat-palette((
  50 : #fff4e4,
  100 : #fee3bb,
  200 : #fed08e,
  300 : #fdbd60,
  400 : #fcaf3e,
  500 : #fca11c,
  600 : #fc9919,
  700 : #fb8f14,
  800 : #fb8511,
  900 : #fa7409,
  A100 : #ffffff,
  A200 : #fff6f0,
  A400 : #ffd7bd,
  A700 : #ffc8a3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
));

$shark-primary: mat-palette((
    50 : #e3f1f8,
    100 : #b8dded,
    200 : #89c7e1,
    300 : #59b0d4,
    400 : #369fcb,
    500 : #128ec2,
    600 : #1086bc,
    700 : #0d7bb4,
    800 : #0a71ac,
    900 : #055f9f,
    A100 : #cae6ff,
    A200 : #97cfff,
    A400 : #64b7ff,
    A700 : #4babff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
));

//include
@include mat-core();

.parrot-theme {

  background-image: url('./assets/parrot.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10px;

  color: $light-primary-text;
  $parrot-primary : $parrot-primary;
  $parrot-accent : $parrot-accent;
  $parrot-warn: mat-palette($mat-red);
  $parrot-theme: mat-dark-theme($parrot-primary, $parrot-accent, $parrot-warn);

  color: $light-primary-text;
  $parrot-toolbar-primary : $parrot-toolbar-primary;
  $parrot-toolbar-accent: $parrot-accent;
  $parrot-toolbar-warn: mat-palette($mat-red);
  $parrot-toolbar-theme: mat-dark-theme($parrot-toolbar-primary, $parrot-toolbar-accent, $parrot-toolbar-warn);


  
  @include angular-material-theme($parrot-theme);
  @include mat-toolbar-theme($parrot-toolbar-theme);
}

// turtle (greenish) theme
.turtle-theme {

  background-image: url('./assets/turtle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10px;

  color: $light-primary-text;
  $turtle-primary: mat-palette($mat-green);
  $turtle-accent: mat-palette($mat-green);
  $turtle-warn: mat-palette($mat-red);
  $turtle-theme: mat-dark-theme($turtle-primary, $turtle-accent, $turtle-warn);

  color: $light-primary-text;
  $turtle-toolbar-primary: $parrot-toolbar-primary;
  $turtle-toolbar-accent: mat-palette($mat-green);
  $turtle-toolbar-warn: mat-palette($mat-red);
  $turtle-toolbar-theme: mat-dark-theme($turtle-toolbar-primary, $turtle-toolbar-accent, $turtle-toolbar-warn);


  
  @include angular-material-theme($turtle-theme);
  @include mat-toolbar-theme($turtle-toolbar-theme);
}
/*
nur 500, 200, 900

$mat-accent: mat-palette((
  main: #f00,
  lighter: #f00,
  darker: #f00,
  contrast : (
    main: #fff,
    lighter: #fff,
    darker: #fff,
  )
), main, lighter, darker);

// Themes
$parrot-theme: mat-dark-theme((
  color: (
    primary: $parrot-primary,
    accent: $mat-accent,
    warn: mat-palette($mat-red),
  ))
);
.shark-theme{
  @include angular-material-theme($theme-accent);
  @include mat-toolbar-theme($theme-accent);
}
*/

// shark (blueish) theme
.shark-theme {

  background-image: url('./assets/shark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 10px;
  
  color: $light-primary-text;
  $shark-accent: $shark-primary;
  $shark-warn: mat-palette($mat-red);
  $shark-theme: mat-dark-theme($shark-primary, $shark-accent, $shark-warn);

  color: $light-primary-text;
  $shark-toolbar-primary: $parrot-toolbar-primary;
  $shark-toolbar-accent: mat-palette($mat-indigo);
  $shark-toolbar-warn: mat-palette($mat-red);
  $shark-toolbar-theme: mat-dark-theme($shark-toolbar-primary, $shark-toolbar-accent, $shark-toolbar-warn);


  
  @include angular-material-theme($shark-theme);
  @include mat-toolbar-theme($shark-toolbar-theme);
}