mat-spinner,
#submit-button {
  float: right;
  margin-right: 20px;
}

#upload-form {
  display: inline-block;
  padding-top: 20px;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}