app-object-multi-select,
app-object-select {
  display: inline-block;
}

.add_btn,
.form_line {
  vertical-align: top;
}

.add_btn {
  margin-left: 10px;
}

mat-spinner,
#submit-button {
  float: right;
  margin-right: 20px;
}

#upload-form {
  display: inline-block;
  padding-top: 20px;
}
